= form_for @group do |f|
  %div.chat-group-form__field.clearfix
    %div.chat-group-form__field--left
      = f.label "Name", class: 'chat-group-form__label'
    %div.chat-group-form__field--right
      = f.text_field :name, placeholder: "グループ名を入力してください", class: 'chat-group-form__input'

  %div.chat-group-form__field.clearfix
    %div.chat-group-form__field--left
      = f.label 'チャットメンバーを追加', class: 'chat-group-form__label'
    %div.chat-group-form__field--right
      %input#user-search-field.chat-group-form__input{ placeholder: "追加したいユーザー名を入力してください" }
    %div#user-search-result.chat-group-form__field--right
      %ul.chat-group-users.clearfix

  %div.chat-group-form__field.clearfix
    %div.chat-group-form__field--left
      = f.label "チャットメンバー", class: 'chat-group-form__label'
    %div.chat-group-form__field--right
      %div.group-members
        %div.group-member
          = f.hidden_field :user_ids, multiple: true, value: current_user.id
          %p.chat-group-user__name
            = current_user.name
        - @users.each do |user|
          %div.group-member
            = f.hidden_field :user_ids, multiple: true, value: user.id
            .p.group-member
              = user.name
              = button_tag type: 'button', class: 'chat-group-user__btn', id: 'remove-btn', value: user.id

  %div.chat-group-form__field.clearfix
    %div.chat-group-form__field--left
    %div.chat-group-form__field--right
      = f.submit "Save", class: 'chat-group-form__action-btn'
