%div.side-content
  %div.user
    %p.user__user-name
      = @user.name
    %div.user__new-group
      = link_to '', new_group_path, class: 'fa fa-pencil-square-o'
    %div.user__user-setting
      = link_to '', edit_user_registration_path, class: 'fa fa-cog'

  %div.groups
    %div.groups__group-list
      - @groups.each do |group|
        %div.groups__group-list__group
          = link_to group_path(group.id), class: 'group-link' do
            %p.groups__group-list__group__group-name
              = group.name
            %p.groups__group-list__group__last-message hoge
