= render 'left-content'
%div.main-content
  %div.top-content
    %div.top-content__current-group.clearfix
      %div.top-content__current-group__current-group-name
        = @group.name
      %div.top-content__current-group__edit-group-name
        = link_to 'edit', edit_group_path, class: 'edit-button'
    %div.top-content__members
      %div.top-content__members__member MEMBER:
      %p.top-content__members__member-name
        - @group.users.each do |member|
          = member.name

  %div.messages
    %div.messages__background
    %div.message-list
      %ul.message-list__message
        %li.message-list__message__post-user-name amira
        %li.message-list__message__posted-date 2017/04/07 11:48
        %li.message-list__message__message-text test_1
      %ul.message-list__message
        %li.message-list__message__post-user-name amira
        %li.message-list__message__posted-date 2017/04/07 11:48
        %li.message-list__message__message-text test_2
      %ul.message-list__message
        %li.message-list__message__post-user-name amira
        %li.message-list__message__posted-date 2017/04/07 11:48
        %li.message-list__message__message-text test_3
      %ul.message-list__message
        %li.message-list__message__post-user-name amira
        %li.message-list__message__posted-date 2017/04/07 11:48
        %li.message-list__message__message-text test_4

  %div.create-message
    = form_tag '/messages', method: :post do
      %input.create-message__input-form{:type => "text", :placeholder => "type a message", :name => "message"}
      %i.fa.fa-image
      %button.create-message__send-button{:type => "submit"} Send
