= render 'groups/side-content'
%div.main-content
  %div.top-content
    %div.top-content__current-group.clearfix
      %div.top-content__current-group__current-group-name
        = @group.name
      %div.top-content__current-group__edit-group-name
        = link_to 'edit', edit_group_path(@group), class: 'edit-button'
    %div.top-content__members
      %div.top-content__members__member MEMBER:
      %p.top-content__members__member-name
        - @group.users.each do |member|
          = member.name

  %div.messages
    %div.messages__background
    %div.message-list
      = render @messages

  %div.create-message
    = form_for [@group, @message], html: { id: "js-form" } do |f|
      %div.create-message__form
        = f.text_field :body, placeholder: "type a message", class: "create-message__input-form"
      %i.fa.fa-image
      %div.create-message__button
        = f.submit "Send", class: "create-message__send-button"
      %div.create-message__hidden
        = f.hidden_field :group_id, value: @group.id, class: "group_id"
